.event {
    background-color: #ffffff;
    margin: 10px 10%;
    height: 60px;
    width: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s;
    cursor: pointer;
}

.event-selected {
    background-color: #e86a3d;
    color: #ffffff;
    margin: 10px 10%;
    height: 60px;
    width: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s;
}

.event:hover{
    background-color: #e86b3dc4;
    color: #ffffff;
    transition: 0.4s;
}

.eventBarWapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

}

.eventspan {
    font-size:  20px;
    justify-content: center;
}

